useDynLib(beachmat, .registration=TRUE, .fixes="cxx_")

importFrom("Rcpp", sourceCpp)
importFrom("Rhdf5lib", pkgconfig)
importFrom("utils", capture.output)

importFrom("HDF5Array", getHDF5DumpFile, getHDF5DumpName, getHDF5DumpChunkDim, appendDatasetCreationToHDF5DumpLog, HDF5Array)
importFrom("DelayedArray", type)

export(pkgconfig, rechunkByMargins)

