useDynLib(beachmat, .registration=TRUE, .fixes="cxx_")

importFrom("Rcpp", sourceCpp)
importFrom("Rhdf5lib", pkgconfig)
importFrom("rhdf5", h5createFile)
importFrom("utils", capture.output)
importFrom("methods", is)

importFrom("HDF5Array", getHDF5DumpFile, getHDF5DumpName, getHDF5DumpChunkDim, appendDatasetCreationToHDF5DumpLog, HDF5Array, getHDF5DumpCompressionLevel)
importFrom("DelayedArray", type)

export(pkgconfig, rechunkByMargins, getBestChunkDims)

